html, body, 
.container-fluid {
	position: relative;
	width: 100%;
	height: 100%;
}

.row {
	height:100%;
}
.right-panel{
	background: #fff;
   	z-index: 50;
   	box-shadow: 0 0 10px rgba(0,0,0,0.6);
}
.left-panel{
	background-color: #2980b9;
	text-align:center;
}

.left-panel,
.right-panel{
		height:100%;
		display: flex;
		align-items: center;
    	box-sizing: border-box;

    	>div {
    		width:100%;
    	}
		
}

.hero{
	font-size: 70px;
	width:100%;
	line-height: 0.8;
	color:#f0f8ff;

	.bold{
		font-size: 90px;
		font-weight: bold;
	}
}



.btn{
	border-radius: 30px;
    min-width: 222px;
    font-weight: bold;
    &:active {
    	outline:0;
    }
    &:focus{
    	outline:0;
    }
}

@media screen and (max-width:768px){
	.left-panel{
		height:30%;
	}
	.hero{
		font-size: 30px;
		width:100%;
		line-height: 0.8;
		color:#f0f8ff;

		.bold{
			font-size: 50px;
			font-weight: bold;
		}
	}
	.right-panel{
		height:70%;
	}
}

