.navbar-default{
	background-color: #fff;
	border:none;
	float:right !important;
}

.profile{
	width:60px;
	border-width:3px;
	border-color:green;
	margin-right:30px;
	margin-top:15px;
}
.navbar-static-top{
	z-index:75;
}