<div class="navbar navbar-default navbar-static-top" ng-controller="NavbarController">
  <div class="container-fluid">
     <ul class="nav navbar-nav">
       <md-menu md-position-mode="target-right target">
          <a aria-label="Open demo menu" class="" ng-click="$mdOpenMenu($event)">
            <img class="img-responsive img-circle profile" id="profile" src="assets/images/person.png"/>
            <md-tooltip md-direction="left">
          	Options
        	</md-tooltip>
          </a>
          <md-menu-content width="4" >
            <md-menu-item>
              <md-button ui-sref="upload">
                  <div layout="row" flex>
                    <p flex>Upload Sheet</p>
                    <i class="fa fa-upload"style="margin: auto 3px auto 0;"></i>
                  </div>
              </md-button>
            
            </md-menu-item>
            <md-divider></md-divider>
            <md-menu-item>
              <md-button ui-sref="logout">
                  <div layout="row" flex>
                    <p flex>Log Out</p>
                    <i class="fa fa-sign-out"style="margin: auto 3px auto 0;color:red"></i>
                  </div>
              </md-button>
            </md-menu-item>
          </md-menu-content>
        </md-menu>

        

      </ul>
    </div>
  </div>
</div>
